* *::after *::before {
  margin: 0;
  padding: 0;
}

.main {
  font-family: open-sans;
}

h1 {
  margin: 30px 10px;
  font-size: 3rem;
  color: white;
  text-align: center;
}

.input-fields {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 50%;
  margin-top: 50px;
}

.num {
  border: 2px solid black;
  outline: 0;
  padding: 10px;
  border-radius: 5px;
  background: white;
  font-size: 1.8rem;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}
::placeholder {
  opacity: 0.6;
  font-size: 1.5rem;
}

label {
  color: white;
  font-size: 1.8rem;
  margin: 40px 0px 2px 0px;
}
